@import '../../sharedStyles/variables.css';

.header {
  color: var(--color-light-text);
}

.intro {
  max-width: 20em;
}

.sectionHeading {
  margin-top: 2em;
  margin-bottom: 0;
  color: var(--color-light-text);
  text-rendering: geometricPrecision;
}

.body {
  composes: h2 from '../../sharedStyles/index.css';
  margin-top: 1em;
  text-rendering: geometricPrecision;
}
