@import '../../sharedStyles/variables.css';

.button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--color-medium-text);
  border-radius: 2em;
  background: none;
  padding: 1em 1.8em 0.8em;
  text-align: center;
  will-change: background-color, border, color;
  transition: 0.4s ease background-color, 0.4s ease border, 0.4s ease color;
  font-size: 1.6rem;
  margin: 0;
  width: fit-content;
  font-family: 'maison neue';
}

.button:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
}
