@import '../../sharedStyles/variables.css';

.card {
  text-decoration: none;
  pointer-events: none;
  cursor: pointer;
  display: block;
  margin-bottom: 60px;

  @media (--viewport-large) {
    margin-bottom: 100px;
  }
}

.card:hover .image {
  transform: scale(0.97);
}

.image {
  cursor: pointer;
  pointer-events: auto;
  transition: transform 1s cubic-bezier(0.2, 0.96, 0.34, 1);
  background: #faf8f8;
}

.info {
  padding-top: 0.5em;
  width: 100%;
  line-height: 1;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  font-weight: 400;
  margin: 0;
  padding: 0.5em 0 0;
  line-height: 1;
}

.subTitle {
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  color: var(--color-cool-gray-l1);
  margin: 0;
  font-size: 1.4rem;
}

/* Show hover states for touch screens */
@media (hover: none) {
  .info {
    padding-top: 1em;
    margin-top: -1em;
    position: inherit;
    width: 100%;
  }

  .title,
  .subTitle {
    transform: translateY(0);
  }
}

/* Arrow */

.arrow {
  padding-right: 8px;
}

.arrowStem {
  stroke-dasharray: 0 100;
  stroke-dashoffset: -18;
}

.card:hover .arrowStem {
  animation: stem 0.4s cubic-bezier(0.2, 0.96, 0.34, 1) forwards;
}

@keyframes stem {
  from {
    stroke-dasharray: 0 100;
    stroke-dashoffset: -18;
  }
  to {
    stroke-dasharray: 18 100;
    stroke-dashoffset: 0;
  }
}

.arrowHead {
  stroke-dasharray: 0 100;
  stroke-dashoffset: -10;
}

.card:hover .arrowHead {
  animation: head 0.6s cubic-bezier(0.2, 0.96, 0.34, 1) forwards;
}

@keyframes head {
  from {
    stroke-dasharray: 0 100;
    stroke-dashoffset: -10;
  }
  to {
    stroke-dasharray: 20 100;
    stroke-dashoffset: 0;
  }
}
