@import '../../sharedStyles/variables.css';

.mainContainer {
  width: 100%;
  padding: 0 var(--su);
  display: flex;
  flex-direction: column;
}

.insetContainer {
  margin: 0 var(--mu);
}

.offsetContainer {
  width: 75%;
  align-self: flex-end;
}

@media (--viewport-large) {
  .insetContainer {
    width: calc(100vw - (var(--mu) * 6));
    max-width: 1510px;
    margin: 0 auto;
  }
}
