@import '../../sharedStyles/variables.css';

.intro {
  padding-top: 10em;
  padding-bottom: 10em;
  background-color: '#333';
}

.introText {
  position: relative;
}

.introText > h1 {
  max-width: 30em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.projects {
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: var(--mu);
  opacity: 0;
  animation: projectsKeyframes 0.8s forwards;
  animation-delay: 0.3s;
  align-items: start;

  @media (--viewport-small) {
    grid-template-columns: 1fr 1fr;
  }
}

.viewAll {
  text-align: center;
  padding: 50px 0 200px;
}

@keyframes projectsKeyframes {
  0% {
    transform: translate3d(0, 10vh, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouseKeyframes {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
