@import '../../sharedStyles/variables.css';

.intro {
  padding-top: 1em;
  padding-bottom: 15em;
  background-color: '#333';
}

.introText {
  position: relative;
}

.introText h1 {
  max-width: 17em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  margin-left: -0.02em;
  font-weight: 300;
}

.projects {
  padding: 0;
  margin: 0;
  display: grid;
  opacity: 0;
  animation: projectsKeyframes 0.8s forwards;
  animation-delay: 0.3s;
  align-items: start;

  @media (--viewport-small) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  @media (--viewport-medium) {
    grid-gap: 25px;
  }
}

.content {
  @media (--viewport-medium) {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}

.projectsHeader {
  color: var(--color-light-text);
  margin-top: 0;
}

.viewAll {
  padding: 0 0 200px;
}

@keyframes projectsKeyframes {
  0% {
    transform: translate3d(0, 10vh, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouseKeyframes {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
