@import '../../sharedStyles/variables.css';

.header {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--su) * 0.75) 0 0;
}

.nav {
  display: inline-block;
  text-align: right;
}

.navLink {
  text-decoration: none;
  color: var(--color-cool-gray);
  transition: 0.2s ease opacity;
  position: relative;
  display: block;
}

.navLink:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--color-cool-gray);
  position: absolute;
  left: -2px;
  top: 50%;
  transition: width 0.2s cubic-bezier(0.2, 0.96, 0.34, 1);
}

.navLink:hover:after {
  width: calc(100% + 4px);
}

.navLink.isActive:after {
  width: calc(100% + 4px);
}

.logo {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list > li {
  display: inline-block;
  margin-left: 1em;
}
