@import '../../sharedStyles/variables.css';

.footer {
  margin-bottom: 0;
  line-height: 2.4;
  color: var(--color-dark-text);
  -webkit-font-smoothing: antialiased;
}

.footerContainer {
  display: grid;
  padding-bottom: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'contact contact'
    'social social';

  @media (--viewport-small) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'contact social';
  }
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li {
  display: inline-block;
  margin-left: 1em;
}

.list li:first-child {
  margin-left: 0;
}

.contact {
  grid-area: contact;
}

.social {
  grid-area: social;

  @media (--viewport-small) {
    display: flex;
    justify-content: flex-end;
  }
}
